<head>
  <link rel="stylesheet" href="/public/css/error_404.css" />
  <link rel="stylesheet" href="/public/css/normalize.css" />
</head>

<div class="content-error">
  <h3 class="error">Error 404</h3>
  <h5 class="tipo">Formato del archivo no aceptado</h5>
  <button class="btn btn-success"><a href="/">Volver a Pagina principal</a></button>
</div>