* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(../img/fondo_error.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content-error {
    margin-top: 250px;
    margin-left: 250px;
}

.error {
    font-size: 50px;
}

.tipo{
    font-size: 35px;
}


.btn a{
    font-size: 25px;
    color: #fff;
}

    /*Boostratp*/

    .stats {
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .content_title {
        margin: auto;
    }
    
    .title_main {
        text-align: center;
        font-size: 80px;
        color: #fff;
    }